@charset "UTF-8";
@supports (-webkit-overflow-scrolling: touch) {
  .wp-block-cover-image.has-parallax,
  .wp-block-cover.has-parallax {
    background-attachment: scroll;
  }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-cover-image:after,
  .wp-block-cover:after {
    content: none;
  }
}
.wp-block[data-align="left"] > [data-type="core/embed"],
.wp-block[data-align="right"] > [data-type="core/embed"] {
  max-width: 360px;
  width: 100%;
}
.wp-block[data-align="left"]
  > [data-type="core/embed"]
  .wp-block-embed__wrapper,
.wp-block[data-align="right"]
  > [data-type="core/embed"]
  .wp-block-embed__wrapper {
  min-width: 280px;
}
.wp-block-embed {
  margin-bottom: 1em;
}
.wp-block-embed__wrapper {
  position: relative;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .blocks-gallery-grid .blocks-gallery-image figure,
  .blocks-gallery-grid .blocks-gallery-item figure,
  .wp-block-gallery .blocks-gallery-image figure,
  .wp-block-gallery .blocks-gallery-item figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .blocks-gallery-grid .blocks-gallery-image img,
  .blocks-gallery-grid .blocks-gallery-item img,
  .wp-block-gallery .blocks-gallery-image img,
  .wp-block-gallery .blocks-gallery-item img {
    width: auto;
  }
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .blocks-gallery-grid.is-cropped .blocks-gallery-image a,
  .blocks-gallery-grid.is-cropped .blocks-gallery-image img,
  .blocks-gallery-grid.is-cropped .blocks-gallery-item a,
  .blocks-gallery-grid.is-cropped .blocks-gallery-item img,
  .wp-block-gallery.is-cropped .blocks-gallery-image a,
  .wp-block-gallery.is-cropped .blocks-gallery-image img,
  .wp-block-gallery.is-cropped .blocks-gallery-item a,
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
h1.has-background,
h2.has-background,
h3.has-background,
h4.has-background,
h5.has-background,
h6.has-background {
  padding: 1.25em 2.375em;
}
.wp-block-image {
  margin-bottom: 1em;
}
.wp-block-image img {
  max-width: 100%;
}
.wp-block-image:not(.is-style-rounded) img {
  border-radius: inherit;
}
@supports ((-webkit-mask-image: none) or (mask-image: none)) or
  (-webkit-mask-image: none) {
  .wp-block-image.is-style-circle-mask img {
    -webkit-mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
    mask-image: url(data:image/svg+xml;utf8,SVG_REPLACED);
    mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    border-radius: 0;
  }
}
ul.has-background {
  padding: 1.25em 2.375em;
}
.wp-block-media-text {
  direction: ltr;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
  grid-template-columns: 50% 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
.wp-block-media-text .wp-block-media-text__content,
.wp-block-media-text .wp-block-media-text__media {
  -ms-grid-row-align: center;
  align-self: center;
}
.wp-block-media-text .wp-block-media-text__media {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0;
}
.wp-block-media-text .wp-block-media-text__content {
  direction: ltr;
  padding: 0 8%;
  word-break: break-word;
}
.wp-block-media-text .wp-block-media-text__content {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
}
.wp-block-media-text__media img {
  max-width: unset;
  width: 100%;
  vertical-align: middle;
}
.wp-block-navigation:not(.has-background)
  .wp-block-navigation__container
  .wp-block-navigation__container {
  background-color: #fff;
  color: #1e1e1e;
}
.wp-block-navigation
  .wp-block-navigation__container
  .wp-block-navigation__container {
  align-items: normal;
  min-width: 200px;
}
.wp-block-navigation__container {
  align-items: center;
}
.wp-block-navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0;
}
.wp-block-navigation-link .wp-block-navigation__container:empty {
  display: none;
}
.wp-block-navigation__container {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}
.is-vertical .wp-block-navigation__container {
  display: block;
}
.has-child > .wp-block-navigation-link__content {
  padding-right: 0.5em;
}
.has-child .wp-block-navigation__container {
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: inherit;
  color: inherit;
  position: absolute;
  left: 0;
  top: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.1s linear;
  visibility: hidden;
}
.has-child
  .wp-block-navigation__container
  > .wp-block-navigation-link
  > .wp-block-navigation-link__content {
  flex-grow: 1;
}
@media (min-width: 782px) {
  .has-child .wp-block-navigation__container {
    left: 1.5em;
  }
  .has-child .wp-block-navigation__container .wp-block-navigation__container {
    left: 100%;
    top: -1px;
  }
  .has-child
    .wp-block-navigation__container
    .wp-block-navigation__container:before {
    content: "";
    position: absolute;
    right: 100%;
    height: 100%;
    display: block;
    width: 0.5em;
    background: 0 0;
  }
}
.has-child:hover {
  cursor: pointer;
}
.has-child:hover > .wp-block-navigation__container {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.has-child:focus-within {
  cursor: pointer;
}
.has-child:focus-within > .wp-block-navigation__container {
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.wp-block-navigation[style*="text-decoration"] .wp-block-navigation-link,
.wp-block-navigation[style*="text-decoration"] .wp-block-navigation__container {
  text-decoration: inherit;
}
.wp-block-navigation[style*="text-decoration"]
  .wp-block-navigation-link__content {
  text-decoration: inherit;
}
.wp-block-navigation[style*="text-decoration"]
  .wp-block-navigation-link__content:active,
.wp-block-navigation[style*="text-decoration"]
  .wp-block-navigation-link__content:focus {
  text-decoration: inherit;
}
.wp-block-navigation:not([style*="text-decoration"])
  .wp-block-navigation-link__content {
  text-decoration: none;
}
.wp-block-navigation:not([style*="text-decoration"])
  .wp-block-navigation-link__content:active,
.wp-block-navigation:not([style*="text-decoration"])
  .wp-block-navigation-link__content:focus {
  text-decoration: none;
}
.wp-block-navigation-link__content {
  color: inherit;
  padding: 0.5em 1em;
}
.wp-block-navigation-link__content + .wp-block-navigation-link__content {
  padding-top: 0;
}
.has-text-color .wp-block-navigation-link__content {
  color: inherit;
}
.wp-block-navigation .wp-block-page-list {
  display: flex;
  flex-wrap: wrap;
}
.is-vertical .wp-block-navigation__container .wp-block-page-list {
  display: block;
}
p.has-background {
  padding: 1.25em 2.375em;
}
p.has-text-color a {
  color: inherit;
}
p:empty:before {
  content: "​";
}
.wp-block-custom-logo {
  line-height: 0;
}
.wp-block-social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  text-indent: 0;
  margin-left: 0;
}
.wp-block-social-links .wp-social-link a,
.wp-block-social-links .wp-social-link a:hover {
  text-decoration: none;
  border-bottom: 0;
  box-shadow: none;
}
.wp-block-social-links .wp-social-link.wp-social-link.wp-social-link {
  margin: auto 8px auto 0;
}
.wp-block-social-links .wp-social-link a {
  padding: 0.25em;
}
.wp-block-social-links .wp-social-link svg {
  width: 1em;
  height: 1em;
}
.wp-block-social-links {
  font-size: 24px;
}
.wp-block-social-links.has-icon-color.has-icon-color > .wp-social-link {
  color: var(--wp--social-links--icon-color);
}
.wp-block-social-links.has-icon-background-color.has-icon-background-color
  > .wp-social-link {
  background-color: var(--wp--social-links--icon-background-color);
}
.wp-social-link {
  display: block;
  border-radius: 9999px;
  transition: transform 0.1s ease;
  height: auto;
}
@media (prefers-reduced-motion: reduce) {
  .wp-social-link {
    transition-duration: 0s;
  }
}
.wp-social-link a {
  display: block;
  line-height: 0;
  transition: transform 0.1s ease;
}
.wp-social-link a,
.wp-social-link a:active,
.wp-social-link a:hover,
.wp-social-link a:visited,
.wp-social-link svg {
  color: currentColor;
  fill: currentColor;
}
.wp-social-link:hover {
  transform: scale(1.1);
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
  background-color: #f0f0f0;
  color: #444;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-instagram {
  background-color: #f00075;
  color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-soundcloud {
  background-color: #ff5600;
  color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-spotify {
  background-color: #1bd760;
  color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter {
  background-color: #1da1f2;
  color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-wordpress {
  background-color: #3499cd;
  color: #fff;
}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-youtube {
  background-color: red;
  color: #fff;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
  .wp-block-video [poster] {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
:root .has-link-color a {
  color: #00e;
  color: var(--wp--style--color--link, #00e);
}
.has-text-align-left {
  text-align: left;
}
.wp-block-navigation ul,
.wp-block-navigation ul li {
  list-style: none;
}
.wp-block-navigation-link.wp-block-navigation-link {
  margin: 0;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUehpOqc.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXehpOqc.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOX-hpOqc.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOVuhpOqc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXuhpOqc.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUehpOqc.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXehpOqc.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirkOUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.woff2)
    format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOUehpOqc.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXehpOqc.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rsOUuhp.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
} /*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: FontAwesome;
  src: url(https://musicbydate.tk/fonts/fontawesome-webfont.eot?v=4.7.0);
  src: url(https://musicbydate.tk/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0)
      format("embedded-opentype"),
    url(https://musicbydate.tk/fonts/fontawesome-webfont.woff2?v=4.7.0)
      format("woff2"),
    url(https://musicbydate.tk/fonts/fontawesome-webfont.woff?v=4.7.0)
      format("woff"),
    url(https://musicbydate.tk/fonts/fontawesome-webfont.ttf?v=4.7.0)
      format("truetype"),
    url(https://musicbydate.tk/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
@charset 'UTF-8';
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(https://musicbydate.tk/fonts/slick.eot);
  src: url(https://musicbydate.tk/fonts/slick.eot?#iefix)
      format("embedded-opentype"),
    url(https://musicbydate.tk/fonts/slick.woff) format("woff"),
    url(https://musicbydate.tk/fonts/slick.ttf) format("truetype"),
    url(https://musicbydate.tk/fonts/slick.svg#slick) format("svg");
}
.wp-block-image {
  margin-bottom: 1.5em;
}
.wp-block-media-text {
  margin-bottom: 1.5em;
}
.wp-block-media-text :last-child {
  margin-bottom: 0;
}
.wp-block {
  max-width: 840px;
}
.wp-block-image {
  margin: 2em 0;
}
@keyframes preloader {
  0% {
    height: 5px;
    transform: translateY(0);
    background: #fd2d55;
  }
  25% {
    height: 30px;
    transform: translateY(15px);
    background: #fd2d55;
  }
  50% {
    height: 5px;
    transform: translateY(0);
    background: #fd2d55;
  }
  100% {
    height: 5px;
    transform: translateY(0);
    background: #fd2d55;
  }
}
@-webkit-keyframes colorchange {
  0% {
    border-color: #e30048;
  }
  25% {
    border-color: #fd2d55;
  }
  50% {
    border-color: #9acf0b;
  }
  75% {
    border-color: #a93d7b;
  }
  100% {
    border-color: #f1ad02;
  }
}
@keyframes colorchange {
  0% {
    border-color: #e30048;
  }
  25% {
    border-color: #fd2d55;
  }
  50% {
    border-color: #9acf0b;
  }
  75% {
    border-color: #a93d7b;
  }
  100% {
    border-color: #f1ad02;
  }
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
#page {
  position: relative;
  overflow-x: hidden;
}
#content {
  position: relative;
}
article,
details,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
canvas {
  display: inline-block;
  vertical-align: baseline;
}
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
b {
  font-weight: 700;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #fff;
  margin: 16px 0;
  line-height: 1.3;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}
img {
  border: 0;
}
body {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-size: 1rem;
  line-height: 28px;
  word-wrap: break-word;
}
p {
  margin: 0 0 1em;
  color: rgba(255, 255, 255, 0.5);
}
em,
i {
  font-style: italic;
}
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
body {
  background: #fff;
}
.dark-version {
  background-color: #202c36;
}
ul {
  margin: 0;
  padding-left: 1.5em;
}
ul {
  list-style: disc;
}
li > ul {
  margin-bottom: 0;
  margin-left: 0.5em;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
a {
  color: #fd2d55;
  text-decoration: none;
}
a:active,
a:focus,
a:hover {
  color: #fff;
}
#masthead {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3000;
  padding: 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#navigation-menu {
  background-color: #fff;
  position: relative;
  z-index: 3;
  min-height: 70px;
}
.site-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.site-logo {
  margin-right: 20px;
}
.site-logo {
  max-height: 60px;
  width: auto;
}
.site-title {
  margin: 0;
  line-height: 1.3;
  font-family: Montserrat, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.site-description {
  margin: 0;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: Montserrat, sans-serif;
}
.site-description a:hover {
  color: #fd2d55;
}
.site-description a {
  color: #fff;
}
.main-navigation {
  display: block;
  position: relative;
}
.main-navigation ul#primary-menu li:hover > a {
  color: #fd2d55;
}
.main-navigation ul#primary-menu li:hover > svg {
  fill: #fd2d55;
}
.main-navigation ul ul {
  background-color: #fff;
  text-align: left;
  padding: 0;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation li {
  position: relative;
}
.main-navigation ul.nav-menu > li > a {
  padding: 22px 8px;
  color: #333;
}
.main-navigation a:hover,
.main-navigation ul.nav-menu > li > a:hover {
  color: #fd2d55;
}
.main-navigation ul.nav-menu {
  margin-right: -25px;
}
.main-navigation a {
  font-size: 14px;
  font-weight: 500;
  display: block;
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
}
.main-navigation ul ul {
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul a {
  width: 225px;
}
svg {
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
svg.icon-menu {
  fill: #fff;
  vertical-align: baseline;
  width: 30px;
  height: 30px;
}
.menu-overlay {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.site-main .post-navigation,
.site-main .posts-navigation {
  margin: 0;
  overflow: hidden;
}
.navigation.post-navigation,
.navigation.posts-navigation {
  margin-top: 20px;
  background-color: #2b3844;
  padding: 23px 20px;
}
.no-sidebar .navigation.posts-navigation {
  clear: both;
  display: inline-block;
  width: 100%;
  margin-top: 30px;
}
.post-navigation a,
.posts-navigation a {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  font-family: Montserrat, sans-serif;
}
.post-navigation a:focus,
.post-navigation a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover {
  color: #fff;
}
.post-navigation,
.posts-navigation {
  padding: 0;
  position: relative;
}
.post-navigation span,
.posts-navigation span {
  display: table;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
#content[tabindex="-1"]:focus {
  outline: 0;
}
.entry-content:after,
.entry-content:before,
.post-archive:after,
.post-archive:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before,
.wrapper:after,
.wrapper:before {
  content: "";
  display: table;
  table-layout: fixed;
}
.entry-content:after,
.post-archive:after,
.post-archive:before,
.site-content:after,
.site-footer:after,
.site-header:after,
.wrapper:after,
.wrapper:before {
  clear: both;
}
.hentry {
  margin: 0;
}
.updated:not(.published) {
  display: none;
}
.entry-content,
.page-content {
  margin: 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.navigation.post-navigation svg,
.navigation.posts-navigation svg {
  width: 20px;
  height: 20px;
  fill: #999;
  display: inline-block;
  vertical-align: middle;
}
.navigation.post-navigation a:focus svg,
.navigation.post-navigation a:hover svg,
.navigation.posts-navigation a:focus svg,
.navigation.posts-navigation a:hover svg {
  fill: #fff;
}
.navigation.post-navigation svg.icon-left,
.navigation.posts-navigation svg.icon-left {
  margin-right: 20px;
}
.post-categories a {
  color: rgba(255, 255, 255, 0.5);
}
.no-sidebar nav.navigation.posts-navigation:after,
.no-sidebar nav.navigation.posts-navigation:before {
  content: "";
  display: table;
  clear: both;
}
ul.post-categories li:after {
  content: ",";
}
ul.post-categories li:last-child:after {
  display: none;
}
section {
  position: relative;
}
.relative {
  display: block;
  position: relative;
}
.relative:after,
.relative:before {
  content: "";
  display: table;
  clear: both;
}
.page-section {
  padding: 60px 0;
}
.entry-content {
  margin-top: 0;
}
.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.entry-title,
.section-title {
  font-size: 32px;
  font-size: 2em;
  margin: 0 0 11px;
  color: #fff;
  word-wrap: break-word;
}
.entry-title {
  font-size: 22px;
  font-size: 1.375em;
  font-weight: 500;
}
.entry-title a {
  color: #fff;
}
.entry-title a:focus,
.entry-title a:hover {
  opacity: 0.8;
}
.section-header {
  text-align: center;
  margin-bottom: 36px;
}
.section-title {
  color: #fff;
  font-size: 32px;
  font-size: 2em;
  font-weight: 700;
}
.section-content {
  text-align: center;
  margin-bottom: 43px;
  margin-left: auto;
  margin-right: auto;
}
.section-content,
.section-content p {
  color: rgba(255, 255, 255, 0.5);
}
.section-content p {
  margin-bottom: 0;
}
.overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.align-left {
  text-align: left;
}
.read-more {
  text-align: center;
}
.btn {
  padding: 10px 30px;
  font-size: 14px;
  line-height: 26px;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 25px;
  min-width: 148px;
  border: 2px solid #1dbf73;
  background-color: transparent;
  color: #fff;
  position: relative;
  text-align: center;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.btn:focus,
.btn:hover {
  background-color: #1dbf73;
  color: #fff;
}
.entry-content .wp-smiley,
.page-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
embed {
  max-width: 100%;
}
#page-site-header {
  padding: 50px 0;
  text-align: center;
  background-color: #333;
  color: #fff;
}
#page-site-header .page-title {
  font-size: 36px;
  color: #fff;
}
#page-site-header .page-title a:hover {
  color: #fd2d55;
}
#page-site-header .page-title a {
  color: #fff;
}
.trail-items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.trail-items li {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
.trail-items li a {
  color: rgba(255, 255, 255, 0.6);
}
.trail-items li a:focus,
.trail-items li a:hover {
  color: #fff;
}
.trail-items li:not(:last-child):after {
  content: "/";
  color: rgba(255, 255, 255, 0.6);
  padding-left: 4px;
  padding-right: 2px;
}
.entry-meta > span:after {
  display: none;
}
.header-wrapper .entry-title {
  font-size: 22px;
  font-size: 1.375em;
  margin-bottom: 0;
}
.header-wrapper img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  object-fit: cover;
  margin: 0 auto 20px;
}
.header-wrapper {
  text-align: center;
}
.section-container .read-more a {
  min-width: 175px;
  margin: 0 5px 15px;
}
.col-1 .post-wrapper {
  max-width: 360px;
  margin: 0 auto;
}
#page-site-header {
  padding: 298px 0;
  text-align: center;
  position: relative;
  background-color: #333;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  height: 100vh;
}
#page-site-header .wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  width: 90%;
  top: 50%;
  max-width: 900px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
#page-site-header .page-title {
  font-size: 32px;
  color: #fff;
  margin: 0;
  line-height: 1.3;
}
.archive-blog-wrapper {
  margin: 0 -15px;
}
.archive-blog-wrapper article {
  padding: 0 15px;
  margin-bottom: 50px;
}
.archive-blog-wrapper article:last-child {
  margin-bottom: 0;
}
.archive-blog-wrapper .post-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-bottom: 50px;
}
.archive-blog-wrapper .read-more {
  text-align: left;
}
.archive-blog-wrapper .posted-on a {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
  display: inline-block;
}
.archive-blog-wrapper .post-categories {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}
.tags-links a:not(:last-child):after {
  content: ",";
  margin: 0 3px 0 2px;
}
.archive-blog-wrapper .post-categories li {
  display: inline-block;
}
.archive-blog-wrapper .post-categories li:after {
  display: none;
}
.archive-blog-wrapper .post-categories a {
  background-color: #fd2d55;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.3;
  font-weight: 600;
}
.archive-blog-wrapper .post-categories a:focus,
.archive-blog-wrapper .post-categories a:hover {
  opacity: 0.9;
}
.archive-blog-wrapper .entry-title {
  margin-bottom: 15px;
}
.archive-blog-wrapper .entry-content {
  margin-bottom: 30px;
}
.archive-blog-wrapper .entry-content p {
  margin-bottom: 0;
}
.header-font-1 .main-navigation a,
.header-font-1 .post-navigation a,
.header-font-1 .posts-navigation a,
.header-font-1 .site-description,
.header-font-1 .site-title,
.header-font-1 h1,
.header-font-1 h2,
.header-font-1 h3,
.header-font-1 h4,
.header-font-1 h5,
.header-font-1 h6 {
  font-family: Rajdhani, sans-serif;
}
.header-font-2 .main-navigation a,
.header-font-2 .post-navigation a,
.header-font-2 .posts-navigation a,
.header-font-2 .site-description,
.header-font-2 .site-title,
.header-font-2 h1,
.header-font-2 h2,
.header-font-2 h3,
.header-font-2 h4,
.header-font-2 h5,
.header-font-2 h6 {
  font-family: "Cherry Swash", sans-serif;
}
.header-font-3 .main-navigation a,
.header-font-3 .post-navigation a,
.header-font-3 .posts-navigation a,
.header-font-3 .site-description,
.header-font-3 .site-title,
.header-font-3 h1,
.header-font-3 h2,
.header-font-3 h3,
.header-font-3 h4,
.header-font-3 h5,
.header-font-3 h6 {
  font-family: Philosopher, sans-serif;
}
.header-font-4 .main-navigation a,
.header-font-4 .post-navigation a,
.header-font-4 .posts-navigation a,
.header-font-4 .site-description,
.header-font-4 .site-title,
.header-font-4 h1,
.header-font-4 h2,
.header-font-4 h3,
.header-font-4 h4,
.header-font-4 h5,
.header-font-4 h6 {
  font-family: "Slabo 27px", sans-serif;
}
.header-font-5 .main-navigation a,
.header-font-5 .post-navigation a,
.header-font-5 .posts-navigation a,
.header-font-5 .site-description,
.header-font-5 .site-title,
.header-font-5 h1,
.header-font-5 h2,
.header-font-5 h3,
.header-font-5 h4,
.header-font-5 h5,
.header-font-5 h6 {
  font-family: Dosis, sans-serif;
}
.body-font-1 {
  font-family: "News Cycle", sans-serif;
}
.body-font-2 {
  font-family: "Pontano Sans", sans-serif;
}
.body-font-3 {
  font-family: Gudea, sans-serif;
}
.body-font-4 {
  font-family: "Quattrocento Sans", sans-serif;
}
.body-font-5 {
  font-family: Khand, sans-serif;
}
.dark-version b {
  color: rgba(255, 255, 255, 0.5);
}
#colophon {
  background-color: #2b3844;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
body:not(.home) #colophon {
  border-top: none;
}
#colophon ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#colophon .site-info a,
#colophon a,
#colophon li,
#colophon p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}
#colophon a:focus,
#colophon a:hover {
  color: #fff;
}
.custom-menu ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.custom-menu ul li:last-child {
  margin-right: 0;
}
.site-info {
  text-align: center;
  padding: 50px 0;
}
.site-info span {
  display: block;
  text-align: center;
  margin: 0 0 15px;
}
.custom-menu {
  margin-bottom: 15px;
}
@media screen and (min-width: 567px) {
  .site-logo img {
    max-height: 65px;
    width: auto;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
  }
  .header-wrapper img {
    margin: 0 20px 0 0;
  }
}
@media screen and (min-width: 767px) {
  #page-site-header .page-title {
    font-size: 42px;
    margin: 0 0 5px;
  }
  .archive-blog-wrapper article {
    width: 50%;
    float: left;
  }
  .archive-blog-wrapper article:nth-child(2n + 1) {
    clear: left;
  }
  .archive-blog-wrapper article:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .page-section {
    padding: 80px 0;
  }
  .section-title {
    font-size: 42px;
    font-size: 2.625em;
  }
  .entry-title {
    font-size: 32px;
    font-size: 2em;
  }
  .section-container .read-more,
  .section-container .section-content,
  .section-container .section-header {
    text-align: left;
  }
  .section-container {
    width: 50%;
    padding-left: 30px;
  }
  .section-container .read-more a {
    margin: 0 15px 15px 0;
  }
  .no-sidebar .archive-blog-wrapper .entry-title {
    font-size: 22px;
    font-size: 1.375em;
  }
}
@media screen and (min-width: 1024px) {
  #social-navigation {
    float: right;
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 70px;
    max-width: 20%;
    width: 20%;
  }
  .site-branding {
    text-align: left;
    float: left;
    margin-right: 25px;
    max-width: 25%;
    width: 25%;
  }
  .main-navigation {
    float: left;
    max-width: 50%;
    width: 50%;
    display: block !important;
  }
  .main-navigation a,
  .main-navigation ul.nav-menu > li > a {
    color: #fff;
  }
  #masthead .main-navigation ul.nav-menu > li > a:hover,
  .main-navigation ul#primary-menu li:hover > a {
    color: #fd2d55;
  }
  .main-navigation ul.nav-menu {
    display: block !important;
    height: auto !important;
  }
  .main-navigation ul li:hover > ul {
    left: 0;
    right: auto;
  }
  .main-navigation ul ul li:hover > ul {
    left: 100%;
    right: auto;
  }
  .main-navigation ul ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  .main-navigation ul ul {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  #masthead .main-navigation ul ul li a svg {
    display: inline-block;
    top: 17px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .main-navigation ul#primary-menu ul li:focus > a,
  .main-navigation ul#primary-menu ul li:hover > a {
    color: #fff;
  }
  .main-navigation ul {
    display: block;
  }
  .main-navigation li {
    display: inline-block;
  }
  .main-navigation .left-menu {
    padding-left: 50px;
  }
  .main-navigation ul.nav-menu > li.left-menu > a {
    padding-left: 5px;
    padding-right: 5px;
  }
  #page-site-header .page-title {
    font-size: 52px;
  }
  .archive-blog-wrapper article {
    width: 100%;
    float: none;
  }
  .archive-blog-wrapper article:nth-last-child(-n + 2) {
    margin-bottom: 50px;
  }
  .archive-blog-wrapper article:last-child {
    margin-bottom: 0;
  }
  .no-sidebar .archive-blog-wrapper article {
    width: 33.33%;
    float: left;
  }
  .no-sidebar .archive-blog-wrapper article:nth-child(2n + 1) {
    clear: none;
  }
  .no-sidebar .archive-blog-wrapper article:nth-child(3n + 1) {
    clear: left;
  }
  .no-sidebar .archive-blog-wrapper article:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .left-sidebar #primary {
    width: 70%;
    float: left;
    padding-right: 30px;
  }
  .left-sidebar #primary {
    padding-left: 30px;
    padding-right: 0;
    float: right;
  }
  .no-sidebar #primary {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-container {
    padding-left: 50px;
  }
  .site-info.col-3 span {
    width: 20%;
    float: left;
  }
  .site-info.col-3 span {
    text-align: left;
  }
  .site-info.col-3 .custom-menu {
    width: 60%;
    float: left;
    text-align: center;
  }
}
@media screen and (min-width: 1900px) {
  .wrapper {
    max-width: 1560px;
  }
  .main-navigation ul.nav-menu > li > a {
    padding: 22px 12px;
  }
  .page-section {
    padding: 93px 0 100px;
  }
  .section-container {
    padding-left: 15px;
  }
  #page-site-header .page-title {
    font-size: 62px;
  }
  .left-sidebar #primary {
    padding-left: 50px;
  }
  .site-info.col-3 span {
    width: 15%;
  }
  .site-info.col-3 .custom-menu {
    width: 70%;
  }
}
@media screen and (max-width: 1023px) {
  .main-navigation a {
    border-bottom: 1px solid #eee;
  }
  .main-navigation ul ul a {
    width: 100%;
  }
  .main-navigation ul ul,
  .main-navigation ul ul ul {
    box-shadow: none;
    float: none;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 0;
    display: none;
  }
  .main-navigation ul.nav-menu > li > a {
    padding: 15px 15px 15px 25px;
  }
  .main-navigation ul.nav-menu {
    margin-right: 0;
    background-color: #fff;
    border-top: 1px solid #eee;
  }
  .main-navigation {
    position: static;
  }
  .main-navigation a {
    color: #333;
  }
  #masthead.site-header .main-navigation {
    margin-top: 0;
    position: absolute;
    z-index: 3;
    max-width: 100%;
    top: 100%;
    left: auto;
    right: 0;
    width: 100%;
    display: none;
  }
  #social-navigation {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #masthead.site-header .main-navigation ul.nav-menu {
    max-width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .site-branding {
    display: block;
  }
  .site-logo {
    margin-right: 0;
  }
  .custom-menu ul li {
    display: block;
    margin: 0 0 10px;
  }
}
@supports (-ms-accelerator: true) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    overflow: hidden;
    height: 100%;
  }
  body {
    overflow: auto;
    height: 100%;
  }
}
img.emoji,
img.wp-smiley {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 0.07em !important;
  vertical-align: -0.1em !important;
  background: 0 0 !important;
  padding: 0 !important;
}
.site-title a {
  color: #fff;
}
.site-description {
  color: #fff;
}
.trail-items li:not(:last-child):after {
  content: "/";
  padding: 0 5px;
}
